<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%date [%level] [%thread] %logger{80} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.web.servlet.view.freemarker" level="ERROR"/>
    <logger name="com.jolbox" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
</configuration>